* {
  color: white;
}

#tempDetailsContainer {
  background-color: white;
  border-radius: 3px;

}

.row {
  background-color: grey;
  border-radius: 3px;
  border-width: 1px;
  border-color: #c4c4c4;
  border-style: solid;
  margin:5px;
}
